<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hp.angular.portal.dao.CountryDao">

	<!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache" readOnly="true"/> -->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache" readOnly="true"/>
	
	<sql id="fullColumns">
		CTRY_CD,
		CTRY_NM,
		DTL_IND
	</sql>
	
	<resultMap type="Country" id="CountryMap">
		<result property="countryCode" column="CTRY_CD" />
		<result property="countryName" column="CTRY_NM" />
		<result property="recordStatus" column="DTL_IND" />
	</resultMap>

	<select id="getAllCountries" resultMap="CountryMap">
		SELECT
		<include refid="fullColumns" />
		FROM CTRY
	</select>
	
	<select id="getCountryByCode" parameterType="String" resultMap="CountryMap">
		SELECT
		<include refid="fullColumns" />
		FROM CTRY T
		WHERE T.CTRY_CD = #{countryCode}
	</select>
	
	<insert id="createCountry" parameterType="Country" flushCache="true">
		INSERT INTO CTRY(CTRY_CD, CTRY_NM, DTL_IND) VALUES(#{countryCode},#{countryName},false);
	</insert>
	
	<update id="updateCountry" parameterType="Country">
		UPDATE CTRY SET CTRY_NM = #{countryName}, DTL_IND = #{recordStatus} WHERE CTRY_CD = #{countryCode}
	</update>
	
	<update id="inactivateCountry" parameterType="Country">
		UPDATE CTRY SET DTL_IND = true WHERE CTRY_CD = #{countryCode}
	</update>
	
	<update id="reactivateCountry" parameterType="Country">
		UPDATE CTRY SET CTRY_NM = #{countryName}, DTL_IND = false WHERE CTRY_CD = #{countryCode}
	</update>
</mapper>