<!DOCTYPE html>
<!--[if lt IE 7]>
  <html
    class="no-js ie6 oldie"
    lang="en"
    xmlns:ng="http://angularjs.org/"
    ng:controller="AppController">
<![endif]-->
<!--[if IE 7]>
  <html
    class="no-js ie7 oldie"
    lang="en"
    xmlns:ng="http://angularjs.org/"
    ng:controller="AppController">
<![endif]-->
<!--[if IE 8]>
  <html
    class="no-js ie8 oldie"
    lang="en"
    xmlns:ng="http://angularjs.org/"
    ng:controller="AppController">
<![endif]-->
<!--[if gt IE 8]><!-->
<html
  class="no-js"
  lang="en"
  ng-app="angularApp"
  >
<!--<![endif]-->
<head>
  <meta charset="utf-8">
   <link rel="stylesheet" href="resources/js/libs/bootstrap/css/bootstrap.min.css"/>
   <link rel="stylesheet" href="resources/css/style.css"/>
   <link rel="stylesheet" href="resources/css/animation.css"/>
   <link rel="stylesheet" href="resources/css/bootstrap-glyphicons.css"/>
   <link href="resources/js/plugins/jQueryDataTable/css/jquery.dataTables.css"
	rel="stylesheet" type="text/css" />
  <title>My AngularJS App</title>
</head>
<body>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
  -->
  <script src="resources/js/libs/jquery/jquery-1.10.2.min.js"></script>
  <script src="resources/js/plugins/jquery.blockUI.js"></script>
  <script src="resources/js/libs/bootstrap/bootstrap.min.js"></script>
  <script src="resources/js/libs/angular/angular.js"></script>
<!--   <script src="resources/js/libs/angular/angular.min.js"></script> -->
  <script src="resources/js/libs/angular/angular-route.js"></script>
<!--   <script src="resources/js/libs/angular/angular-route.min.js"></script> -->
  <script src="resources/js/libs/angular/angular-resource.js"></script>
  <script src="resources/js/libs/angular/angular-animate.js"></script>
<!--   <script src="resources/js/libs/angular/angular-resource.min.js"></script> -->
  <script src="resources/js/app/app.js"></script>
  <script src="resources/js/app/services/CommonServices.js"></script>
  <script src="resources/js/app/controllers/CountryController.js"></script>
  <script src="resources/js/app/controllers/GlobalConfig.js"></script>
  <script src="resources/js/plugins/jQueryDataTable/jquery.dataTables.js"></script>
  <script type="text/javascript">
	//BlockUI for jquery	
	$(document).ajaxStart($.blockUI).ajaxStop($.unblockUI);
	$(function() {
		//demo test
		$("#ajax").on("click", function() {
			$.blockUI({
				css : {
					border : 'none',
					padding : '15px',
					backgroundColor : '#000',
					'-webkit-border-radius' : '10px',
					'-moz-border-radius' : '10px',
					opacity : .5,
					color : '#fff'
				},
				message : '<h4>Please wait...</h4>'
			});

			setTimeout($.unblockUI, 2000);
		});
	});
</script>
  <div class="container" style="width:60%" ng-controller='CountryCtrl'>
	<div  ng-controller="MessageCtrl">
		<div ng-show="show" class="messageBar alert alert-{{level}} alert-dismissable animate-show">
			<!-- <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> -->
			<button type="button" class="close" ng-click="hide()" aria-hidden="true">&times;</button>
			<strong>{{message}}</strong>
		</div>
	</div>
  	<table id="datatable" class="table table-hover">
  		<thead>
			<tr>
				<th>Country Code</th>
				<th>Country Name</th>
				<th>Recourd Status</th>
			</tr>
  		</thead>
  		<tbody>
  			<tr ng-repeat="country in countries">
  				<td>{{country.countryCode}}</td>
  				<td>{{country.countryName}}</td>
  				<td>{{country.recordStatus === false ? 'Active' : 'Inactive'}}</td>
  			</tr>
  		</tbody>
  	</table>
  	<div class="form-inline" >
  		<div class="form-group">
  			<label class="sr-only" for="countryCode">Country Code</label>
	  		<input id="countryCode" type="text" ng-model="ctry.countryCode" class="form-control col-sm-4" placeholder="Country Code">
  		</div>
  		<div class="form-group">
  			<label class="sr-only" for="countryName">Country Name</label>
	  		<input id="countryName" type="text" ng-model="ctry.countryName" class="form-control col-sm-offset-4" placeholder="Country Name">
  		</div>
  		
  		<div class="form-group">
  			<button type="button" class="btn btn-primary col-sm-offset-12" ng-click="createCountry(ctry)">Create</button>
  		</div>
  	</div>

	  <button id="ajax" class="btn btn-default">BlockUI Test</button>
	  <button class="btn btn-default" ng-click="change(ctry.countryCode)">Toggle</button>
  </div>
</body>
</html>